[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ProFit"]
	path = ProFit
	url = https://github.com/icrar/profit
	shallow = true
	registered = true
